    </main>
    <footer>
      <a href="#top">Top</a> | 
      <a href="{{ '/' | url }}">Home</a> | 
      <a href="{{ '/' | url }}about">About this project</a> | 
      Light mode: <a href="#" id="light_mode_switch">Switch</a> &middot; <a href="#" id="light_mode_reset">Reset</a> | 
      Text copyright © 1963, Martin Luther King, Jr. All rights reserved.
    </footer>
    <script src="{{ '/' | url }}assets/js/vendor/widowadjust-min.js" defer></script>
    <script src="{{ '/' | url }}assets/js/scripts.js" defer></script>
    <script>
      if (navigator.serviceWorker) {
        navigator.serviceWorker.register('/serviceworker.js')
        .then( function (registration) {
          //console.log('Success!', registration.scope);
        })
        .catch( function (error) {
          //console.error('Failure!', error);
        });
      }
    </script>

  </body>
</html>
